<div class="card reservation text-center" style="width: 18rem;">
  <div class="card-header">
    <p>Book  <strong><%=@team.owner.name%></strong>'s  team </p>
  </div>
  <div class="card-body text-color-card header-reservation">
    <div>
    <p><strong><%=@team.price_per_day%> $ / day</strong></p>
      <p>🔥<strong> <%= @team.success_rate%></strong> /5</p>
    </div>
    <div>
      <%= simple_form_for [@team, @contract] do |f| %>
      <%= f.input :begin_date%>
      <%= f.input :end_date %>
      <%= f.button :submit, class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>
