<div class="nav-profile d-flex justify-content-center ">
  <div class="d-flex p-3">
    <%= cl_image_tag @user.avatar.key, class: "user-picture", width: 200, height: 200, crop: :fill%>
      <h3 class="align-self-center user-name p-5"><%= @user.name %></h3>
  </div>
</div>

<div class="container d-flex justify-content-center gap-3 p-3">

  <div class="row col-3">
    <%= link_to new_owner_team_path, class:"card profile-card" do %>
      <%= image_tag "new-team.png", class: "profile-img" %>
      <div class="card-body">
        <h5 class="card-title">Créer une équipe</h5>
        <p class="card-text">Rassembler vos troupes! Créer une nouvelle équipe légendaire.</p>
      </div>
    <% end %>
  </div>

  <div class="row col-3">
    <%= link_to owner_contracts_path, class:"card profile-card" do %>
      <%= image_tag "request.png", class: "profile-img" %>
      <div class="card-body">
        <h5 class="card-title">Vos contrats</h5>
        <p class="card-text">Gérer les contrats de vos équipes en cours, et passé.</p>
      </div>
    <% end %>
  </div>


  <div class="row col-3">
    <%= link_to owner_teams_path, class:"card profile-card" do %>
      <%= image_tag "teams.png", class: "profile-img" %>
      <div class="card-body">
        <h5 class="card-title">Vos équipes</h5>
        <p class="card-text">Consulter le statut de vos équipes.</p>
      </div>
    <% end %>
  </div>

  <div class="row col-3">
    <%= link_to contracts_path, class:"card profile-card" do %>
      <%= image_tag "contrats.png", class: "profile-img" %>
      <div class="card-body">
        <h5 class="card-title">Vos réservations</h5>
        <p class="card-text">Gérer le statut de vos réservation auprès d'autre propriétaire.</p>
      </div>
    <% end %>
  </div>
</div>
