<div class="container">
  <div class="border-user-teams"><h1>Mes contracts</h1></div>
  <div class="card-user-teams mt-4">
    <% @user_contracts.each do |user_contract|%>
        <div class="card card-user-team" style="width: 400px;">
        <%= cl_image_tag user_contract.team.photo.key, class: "card-img-top team-image"  %>
          <div class="card-body">
            <h2 class="card-title">⚔️ <%= user_contract.team.name %></h2>
            <p class="card-text">💰 <%= user_contract.total_price %> ₡</p>
            <p class="card-text">Début de quête : <%= user_contract.begin_date %></p>
            <p class="card-text">Fin de quête : <%= user_contract.end_date %></p>
            <% if  user_contract.status == "en attente" %>
              <div class="d-flex justify-content-around">
                <%= simple_form_for [:owner, user_contract] do |f| %>
                  <%= f.input :status, label: false, input_html: {value: 'accepted', class:"d-none", }%>
                  <%= f.button :submit, "Accepter", class: "btn btn-info accepter" %>
                <% end %>
                <%= simple_form_for [:owner, user_contract] do |f| %>
                  <%= f.input :status, label: false, input_html: {value: 'refused', class:"d-none", }%>
                  <%= f.button :submit, "Refuser", class: "btn btn-info accepter" %>
                <% end %>
              </div>
            <% elsif user_contract.status == "accepted" %>
              <div class="d-flex justify-content-around text-success">Accepté</div>
              <% else %>
              <div class="d-flex justify-content-around text-danger">Refusé</div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
